@import 'fonts';

body{
    background: url('@img/EUp7KgoXYAMtmV0.jpg') 0 0 no-repeat;
}

@media (max-width:200px) {
    span{
        font-size: 20px;
    }
}
@media (max-width:200px) {
    span{
        background: #000;
    }
}


